*

!.gitignore

!default.custom.yaml
!double_pinyin_flypy.custom.yaml
!japanese.custom.yaml
!__weasel.yaml
!melt_eng_flypy.dict.yaml
!melt_eng.custom.yaml
!custom_phrase_double.txt

!update.ps1

!rime-install
!full.recipe.yaml
!*packages.conf
!README.md
