build/
lua/
opencc/
others/
sync/
*.userdb/
*.yaml
*.bak
*.txt
*.gram
*.lua

!.gitignore

!*.custom.yaml
weasel.custom.yaml
default.custom.yaml
melt_eng.custom.yaml
radical_pinyin.custom.yaml
!__weasel.yaml
!__default.yaml
!melt_eng_flypy.dict.yaml
!custom_phrase_double.txt
!scel_dicts/*.yaml
!my_dict.dict.yaml

!update.ps1

!rime-install
!full.recipe.yaml
!*packages.conf
!README.md
